.Contenedor-Central {
    background-color: #BFBFBF;
    border-radius: 5%;
    width: 50%;
    height: 60%;
    position: absolute;
    margin-left: 22%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-left: 5%;
    border-right: 20px solid black;
}

body {
    background-color: rgb(46, 47, 83);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

details {
    background-color: white;
    border-radius: 2.5%;
    width: 60%;

}

details>summary{
    border-radius: 10px;
    background-color: green;
    padding: 2%;
}

summary {
    color: white;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    
}
summary:hover{
    background-color: rgb(34, 82, 34);
}

a {
    text-decoration: none;
    color: green;

}

.proyecto {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.proyecto:hover{
    color: black;
}