h1{
    border: 2px solid tomato
}

ul{
    border-width: 5px;
    border-style: dotted;
    border-color: dodgerblue;
}
li{
    border-width: 2.5px;
    border-style: dashed;
    border-color: lightcoral;
}
p{
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
    border-color: darkmagenta;

}
body{
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}